
.about_container {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

/* About page begin */
.aboutgrids {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 30em);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.aboutTitles{
    padding:5em;
    text-align: center;
}
  /* About page end */
  