.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7FAE6;
}

.bio__image__container {
   background: #F7FAE6;
   min-height: 200px;
   display: grid;
   justify-content: center;
   align-content: center;
}

.bio__content__container {
    padding: 0 2rem;
}

.trainerImage {
    min-width: 100px;
    width: 25%;
    min-height: 100px;
    height: 25%;
    border-radius: 100%;
    background-color: white;
}

.bioContainer {
    display: grid;
    align-content: center;
    background-color: white;
}

.bioContent {
    padding-left: 2rem;
    width: 80%
}

.quote__container {
    text-align: center;
    color: #757013;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0rem;
}

.videoContainer {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

.youtubeVideo {
    aspect-ratio: 16 / 9;
    width: 100%;
  }