.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7FAE6;
}

.bio__image__container {
   background-color: #757013;
   min-height: 200px;
   display: grid;
   justify-content: center;
   align-content: center;
}

.bio__content__container {
    padding: 0 2rem;
}

.trainerImage {
    min-width: 100px;
    width: 150px;
    min-height: 100px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
}

.bioContainer {
    display: grid;
    align-content: center;
    background-color: white;
}

.bioContent {
    padding-left: 2rem;
    width: 80%
}

.quote__container {
    text-align: center;
    color: #757013;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0rem;
}

.videoContainer {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

.youtubeVideo {
    aspect-ratio: 16 / 9;
    width: 100%;
}


/*  tablet ipad 1024 x  */
@media screen and (min-width: 1024px){
    .bio__header {
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .trainerImage {
        min-width: 300px;
        min-height: 300px;
    }

    .videoContainer {
        margin: 5rem 0rem;
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
    }

    .bio__content__container {
        background-color: #F7FAE6;
        display: grid;
        justify-content: center;
        align-content: center;
    }
}