.contact__container {
    background-color: #F7FAE6;
    padding-bottom: 2rem;
}

.contact__content {
    padding: 3rem 2rem;
}

.contact__content h1 {
    padding: 1rem 0rem;
}
  
.contact__container h1 {
    text-align: center;
}
  
.contact__container p {
    text-align: center;
    margin: 0px;
}
  
.form_container {
    width: 80%;
    margin: 0 auto;
}
  
.form_container p {
    margin: 0px;
}

.form_container label {
    font-size: 0.8rem;
    /* margin: 0.5rem; */
}

.form_container input {
    padding: 0.66rem;
    border: 1px gray solid;
    width: 100%;
}

.form_container textarea {
    padding: 0.66rem;
    border: 1px gray solid;
}

.form_inputs {
    margin: 1rem 0rem;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr;
}

.container__button {
    background-color: #757013; /* Green */
    width: 100%;
    border: none;
    border-radius: 50px;
    color: #F7FAE6;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.8rem 0px;
    font-family: Open Sans;
}