/* .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom:0;
    height: 10vh;
    font-family: Open Sans;
    font-size: 18px;
    background-color: #797A71;
    z-index: 1;
}

.footer_container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 80vw;
}


.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
} */

.footer__container {
  background-color: #797A71;
  padding: 2rem 0rem;
  color: white;
}

.footer__container ul {
  margin: 0px;
  list-style: none;
}

.footer__container li {
  margin: 0.8rem 0rem;
}