html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.greySection{
  text-align: center;
  width: 100%;
  height: 50vh;
  background-color: #797A71;
  color: white;
}
