.hero_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 90vh;    
    background-color: #F7FAE6;
}

.hero_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
}

.hero_copy {
    display:grid;
    align-items: center;
}


.hero_image_container {
    display: grid;
    height: 90%;
    background-image: url('/fitnes-plus-hero.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.hero_button {
    background-color: #757013; /* Green */
    border: none;
    border-radius: 50px;
    color: #F7FAE6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px 0px;
    font-family: Open Sans;
  }
  

.title {
    margin: 0px;
    color: #454D39;
    font-size: 4rem;
    margin-bottom: 10vh;
}

.subtitle {
    color: #454D39;
}


@media (max-width: 1200px){
    
  }

  @media (max-width: 992px){
    .hero_content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero_image_container{
        display: none;
    }
  } 
  
  @media (max-width: 768px){
    .title {
        font-size: 3rem;
    }

    .hero_image_container{
        display: none;
    }
  }