.hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 90vh;    
    background-color: #F7FAE6;
}

.hero__content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.hero__content__left {
  padding: 0 2rem;
  margin: 0 auto;
}

.hero__title {
    margin-top: 4rem;
    color: #454D39;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.hero__subtitle {
    margin: 1rem 0rem;
    color: #454D39;
    font-weight: lighter;
    font-style: italic;
}

.hero__button {
    background-color: #757013; /* Green */
    border: none;
    border-radius: 50px;
    color: #F7FAE6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px 0px;
    font-family: Open Sans;
  }

.contactBar {
    display: grid;
    position: relative;
    bottom: 6.5vh;
    background-color: #757013;
    height: 7.5vh;
    color: white;
    place-content: center center;
    font-weight: 500;
    font-style: italic;
}

.container {
    margin: 2rem 0rem;
}

.container__content {
    color: #454D39;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.container__content h1 {
    margin: 1rem 0;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.container__content h3 {
    margin: 1rem 0;
}

.container__content__one_column {
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    padding: 5rem 2rem;
    background-color: #757013;
}

.container__button {
    background-color: #757013; /* Green */
    width: 100%;
    border: none;
    border-radius: 50px;
    color: #F7FAE6;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.8rem 0px;
    font-family: Open Sans;
}

.contact__container {
  background-color: #F7FAE6;
  padding-bottom: 2rem;
}

.contact__container h1 {
  text-align: center;
}


.contact__container p {
  text-align: center;
  margin: 0px;
}

.form_container {
  width: 80%;
  margin: 0 auto;
}

.form_container p {
  margin: 0px;
}

.form_container label {
  font-size: 0.8rem;
  /* margin: 0.5rem; */
}

.form_container input {
  padding: 0.66rem;
  border: 1px gray solid;
  width: 100%;
}

.form_container textarea {
  padding: 0.66rem;
  border: 1px gray solid;
}

.form_inputs {
  margin: 1rem 0rem;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr;
}

/* tablet ipad 768 x 1024 */
@media screen and (min-width: 768px){
  .hero {
    height: 100%;
  }

  .hero__content {
    grid-template-columns: 1fr 1fr;
  }

  .hero__button {
    width: 100%;
  }
}

/*  tablet ipad 1024 x  */
@media screen and (min-width: 1024px){
  .hero {
    height: 90vh;    
  }

  .hero__content {
    grid-template-columns: 1fr 1fr;
  }

  .hero__content__left {
    margin-top: 100px;
  }

  .hero__button {
    width: 100%;
  }

  .hero__content__image {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
  }

  .container__content {
    color: #454D39;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .container__content__one_column {
    padding: 5rem 10vw;
  }
}

/* desktop 1366 x 768 */
@media screen and (min-width: 1366px) {
  
}