.service_grid {
  margin: auto;
  padding: 2rem;
  max-width: 90vw;
}

.service_grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 767px) {
    .service_grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .service_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service_card {
  background-color: white;
  line-height: 1.4;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service_card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}

.service_content {
  padding: 1rem 1.6rem 1.6rem;
}