.team__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* border: 2px blue solid; */
}

.trainer__container {
    background-color: #F7FAE6;
    min-height: 100px;
    max-height: 105px;
    color: #757013;
    padding: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trainer__content {
    font-size: 0.8rem;
}

.trainer__content__name {
    font-weight: 600;
}

.trainer__content__button {
    margin-top: 0.8rem;
    font-size: 1rem;
}

.cardImage{
    max-width: 7rem;
    width: auto;
}

.cardButton{
    background-color: #757013; /* Green */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Open Sans;
    cursor: pointer;
  }


/*  tablet ipad 1024 x  */
@media screen and (min-width: 1024px){
    .team__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
  }
  
  /* desktop 1366 x 768 */
  @media screen and (min-width: 1366px) {
    .team__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    
  }
  
  