
.section_container_two_column {
    display: grid;
    justify-content: center;
  }

.section_container_one_column {
    display: grid;
    justify-content: center;
}
  
.section_content_two_column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 80vw;
    padding: 4rem 0;
}

.section_content_one_column {
    display: grid;
    grid-template-columns: 1fr;
    width: 60vw;
    justify-content: center;
    padding: 2rem 0;
}


.overlay_container {
    background-color: rgba(117,112,21,.9);
    width: 100%;
    display: grid;
    justify-content: center;
}

.title {
    font-size: 4rem;
    color: white;
    margin: 0px;
}

.sub_title_white {
    font-size: 3rem;
    color: white;
}

.sub_title_black {
    font-size: 3rem;
    color: black;
}

.button {
    width: 20rem;
    background-color: #757013; /* Green */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
  }
  

@media (max-width: 992px){
    .title {
        font-size: 2rem;
    }
    .section_content_two_column, .section_content_one_column{
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        padding: 2rem 0;
    }
} 

@media (max-width: 768px){
  
}